@model VanBrewList.Models.AdminIndex

@{
    ViewBag.Title = "Admin";
}

<br />
<div class="container">

    <h2>Admin</h2>

    <br />
    <h4> Actions </h4>
    <div class="col-md-offset-2 col-md-10">
        <div class="col-sm-10">
            @Html.ActionLink("New Brewery", "Create", "Brewery", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <div class="col-sm-10">
            @Html.ActionLink("New Beer", "Create", "Beer", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Brewery", FormMethod.Get, new { id = Model.id }))
    {
        <div class="form-horizontal">
            <div class="col-md-offset-2 col-md-10 form-group">
                <div class="breweryDrop col-sm-6">
                    <input type="submit" value="Delete" id="Submit" class="btn btn-primary" />
                    @Html.DropDownListFor(m => m.id, Model.breweries)
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("Edit", "Brewery", FormMethod.Get, new { id = Model.id }))
    {
        <div class="form-horizontal">
            <div class="col-md-offset-2 col-md-10 form-group">
                <div class="breweryDrop col-sm-6">
                    <input type="submit" value="Edit" id="Submit" class="btn btn-primary" />
                    @Html.DropDownListFor(m => m.breweries, Model.breweries)
                </div>
            </div>
        </div>
    }

</div>
