@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 style="color:whitesmoke">What's On Tap?</h1>
    </div>
</div>
<div class="container">
    <div>
        <p>Find the latest offerings from Vancouver breweries.</p>
    </div>
</div>
